/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@media only screen and (min-width: 993px) {
  .container {
     width: 85%;
  }
}
.post {
}

.post.col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.post .postTitle {
  font-size: 1.5rem;
}

.post .postDescription {}

.post .postDescription img {
  max-width: 100%;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
