/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@media only screen and (min-width: 993px) {
  .container {
     width: 90%;
  }
  #feedContent {
    min-height: 670px;
  }
}

.source-label {
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-size: smaller;
  font-stretch: expanded;
}

.post.fixed-height {
  max-height: 280px;
  overflow: hidden;
  position: relative !important;
  box-sizing: border-box;
}

.post.col {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.post .read-more-container {
  display: block;
  position: absolute;
  bottom:0;
  text-align: center;
  background:rgba(255, 255, 255, 0.5);
  height:3.5rem;
  width: 100%;
  padding-top: .5rem;
}

.post .postTitle {
  font-size: 1.5rem;
}

.post .postDescription {}

.post .postDescription img {
  max-width: 100%;
}

.post .postDescription .infobox, .post .postDescription h2, .post .postDescription center, .post .postDescription ul, .post .postDescription table{
  display:none;
}

.post .postDescription .thumbinner {
  width: auto !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
